* {
    margin: 0; /* Встановлюємо відступ зовні (margin) на 0 для усунення стандартних відступів для всіх елементів */
    padding: 0; /* Встановлюємо внутрішні відступи (padding) на 0 для усунення стандартних відступів для всіх елементів */
    box-sizing: border-box; /* Враховуємо рамку та внутрішні відступи у загальну ширину та висоту елементів */
}

body {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт для всього документа */
    display: flex; /* Встановлюємо flex-контейнер */
    justify-content: center; /* Вирівнюємо контент по горизонталі по центру */
    align-items: center; /* Вирівнюємо контент по вертикалі по центру */
    height: 100vh; /* Встановлюємо висоту екрана на 100% висоти вікна перегляду */
    background-color: #f0f0f0; /* Встановлюємо фоновий колір для тіла документа */
}

.ad {
    position: fixed; /* Встановлюємо фіксоване позиціювання для елемента */
    bottom: 20px; /* Встановлюємо відступ знизу на 20 пікселів */
    right: 20px; /* Встановлюємо відступ з правого краю на 20 пікселів */
    width: 300px; /* Ширина контейнера */
    height: 300px; /* Висота контейнера */
    background-color: rgba(0, 0, 0, 0.5); /* Чорний напівпрозорий фон */
    color: white; /* Встановлюємо колір тексту */
    border-radius: 20px; /* Заокруглення всіх кутів */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Встановлюємо тінь для елемента */
    background-image: url('sea.jpg'); /* Додаємо фон із зображенням моря */
    background-size: cover; /* Розтягнення фонового зображення */
    background-position: center; /* Центрування фонового зображення */
    opacity: 0; /* Початкова прозорість */
    animation: showHideAd 9s ease-in-out; /* Додаємо анімацію блоку з тривалістю 9 секунд та ефектом плавного переходу */
    display: flex; /* Встановлюємо flex-контейнер */
    align-items: flex-end; /* Вирівнюємо контент по вертикалі по нижньому краю */
    justify-content: center; /* Вирівнюємо контент по горизонталі по центру */
    text-align: center; /* Вирівнюємо текст по центру */
}

.ad-text {
    padding: 10px; /* Встановлюємо внутрішні відступи (padding) для тексту */
    background-color: rgba(0, 0, 0, 0.5); /* Чорний напівпрозорий фон для тексту */
    width: 100%; /* Встановлюємо ширину на 100% */
    border-radius: 0 0 20px 20px; /* Заокруглення нижніх кутів текстового блоку */
}

@keyframes showHideAd {
    0%, 100% {
        opacity: 0; /* Початкова та кінцева прозорість */
    }
    20%, 80% {
        opacity: 1; /* Прозорість у середині анімації */
    }
}
